Data Wrangling

The source of my data was https://www.kaggle.com/rikdifos/credit-card-approval-prediction
It was not missing any data and had 24 variables. What I did was change all the variables from codes to easily readable words.

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import statsmodels.api as sm 
from statsmodels.graphics.api import abline_plot 
from sklearn.metrics import mean_squared_error, r2_score 
from sklearn.model_selection import train_test_split 
from sklearn import linear_model, preprocessing 
from sklearn.model_selection import train_test_split
import warnings
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
cwd = os.getcwd()
print(cwd)
import statsmodels.api as sm

import scipy.stats as stats
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
from sklearn import preprocessing
from matplotlib import pyplot
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import f1_score
from sklearn.metrics import auc
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,roc_auc_score
from sklearn.metrics import accuracy_score,log_loss
from matplotlib import pyplot
from sklearn.ensemble import RandomForestClassifier
import itertools
from sklearn import svm, datasets
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression
from sklearn import metrics

C:\Users\Tom\Documents\GitHub

In [2]:
loans = pd.read_csv("capstone3.csv")

In [3]:
loans

,Customer_ID,Status_Checking_Acc,Duration_in_Months,Credit_History,Purpose_Credit_Taken,Credit_Amount,Savings_Acc,Years_At_Present_Employment,Inst_Rt_Income,Marital_Status_Gender,...,Age,Other_Inst_Plans,Housing,Num_CC,Job,Dependents,Telephone,Foreign_Worker,Default_On_Payment,Count
0,100001,A11,6,A34,A43,1169,A65,A75,4,A93,...,67,A143,A152,2,A173,1,A192,A201,0,1
1,100002,A12,48,A32,A43,5951,A61,A73,2,A92,...,22,A143,A152,1,A173,1,A191,A201,0,1
2,100003,A14,12,A34,A46,2096,A61,A74,2,A93,...,49,A143,A152,1,A172,2,A191,A201,0,1
3,100004,A11,42,A32,A42,7882,A61,A74,2,A93,...,45,A143,A153,1,A173,2,A191,A201,0,1
4,100005,A11,24,A33,A40,4870,A61,A73,3,A93,...,53,A143,A153,2,A173,2,A191,A201,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,104996,A14,12,A32,A42,1736,A61,A74,3,A92,...,31,A143,A152,1,A172,1,A191,A201,0,1
4996,104997,A11,30,A32,A41,3857,A61,A73,4,A91,...,40,A143,A152,1,A174,1,A192,A201,0,1
4997,104998,A14,12,A32,A43,804,A61,A75,4,A93,...,38,A143,A152,1,A173,1,A191,A201,0,1
4998,104999,A11,45,A32,A43,1845,A61,A73,4,A93,...,23,A143,A153,1,A173,1,A192,A201,1,1
4999,105000,A12,45,A34,A41,4576,A62,A71,3,A93,...,27,A143,A152,1,A173,1,A191,A201,0,1

In [4]:
loans.dtypes

Customer_ID                     int64
Status_Checking_Acc            object
Duration_in_Months              int64
Credit_History                 object
Purpose_Credit_Taken           object
Credit_Amount                   int64
Savings_Acc                    object
Years_At_Present_Employment    object
Inst_Rt_Income                  int64
Marital_Status_Gender          object
Other_Debtors_Guarantors       object
Current_Address_Yrs             int64
Property                       object
Age                             int64
Other_Inst_Plans               object
Housing                        object
Num_CC                          int64
Job                            object
Dependents                      int64
Telephone                      object
Foreign_Worker                 object
Default_On_Payment              int64
Count                           int64
dtype: object

In [5]:
loans['Status_Checking_Acc'] = loans['Status_Checking_Acc'].replace(['A11', 'A12', 'A13', 'A14' ], ['Neg', 'Low', 'High', 'NoAcc'])

In [6]:
loans['Credit_History'] = loans['Credit_History'].replace(['A30', 'A31', 'A32', 'A33', 'A34' ], ['NoCredit', 'Paid', 'Current', 'Delay', 'Critical'])

In [7]:
loans['Purpose_Credit_Taken'] = loans['Purpose_Credit_Taken'].replace(['A40', 'A41', 'A42', 'A43', 'A44', 'A45', 'A46', 'A47', 'A48', 'A49', 'A410' ], ['NewCar', 'UsedCar', 'Furniture', 'Radio_TV', 'Appliances', 'Repairs', 'Education', 'Vacation', 'Retrain', 'Business', 'Other'])

In [27]:
loans['Savings_Acc'] = loans['Savings_Acc'].replace(['A61', 'A62', 'A63', 'A64', 'A65'], ['Low', 'LowAvg', 'Avg', 'High', 'NoAcc'])

In [9]:
loans['Years_At_Present_Employment'] = loans['Years_At_Present_Employment'].replace(['A71', 'A72', 'A73', 'A74', 'A75' ], ['Unemployed', '1', 'Less4', 'Less7', 'More7'])

In [10]:
loans['Marital_Status_Gender'] = loans['Marital_Status_Gender'].replace(['A91', 'A92', 'A93', 'A94', 'A95' ], ['MaleDivorced', 'FemaleDivOrM', 'MaleSingle', 'MaleMarriedOrWidowed', 'FemaleSingle'])

In [11]:
loans['Other_Debtors_Guarantors'] = loans['Other_Debtors_Guarantors'].replace(['A101', 'A102', 'A103'], ['No', 'CoApp', 'Guarantor'])

In [12]:
loans['Property'] = loans['Property'].replace(['A121', 'A122', 'A123', 'A124' ], ['RealEstate', 'LifeInsurance', 'Car', 'None'])

In [14]:
loans['Other_Inst_Plans'] = loans['Other_Inst_Plans'].replace(['A141', 'A142', 'A143'], ['Bank', 'Store', 'None'])

In [15]:
loans['Job'] = loans['Job'].replace(['A171', 'A172', 'A173', 'A174' ], ['NoSkills_NoRes', 'NoSkills_Res', 'LowSkills', 'HighSkills'])

In [16]:
loans['Telephone'] = loans['Telephone'].replace(['A191', 'A192'], ['No', 'Yes'])

In [17]:
loans['Foreign_Worker'] = loans['Foreign_Worker'].replace(['A201', 'A202'], ['Yes', 'No'])

In [22]:
loans['Default_On_Payment'] = loans['Default_On_Payment'].astype(int).astype(str)
loans['Default_On_Payment']

0       0
1       0
2       0
3       0
4       1
       ..
4995    0
4996    0
4997    0
4998    1
4999    0
Name: Default_On_Payment, Length: 5000, dtype: object

In [23]:
loans['Default_On_Payment'] = loans['Default_On_Payment'].replace(['1', '0'], ['Yes', 'No'])

In [24]:
loans

,Customer_ID,Status_Checking_Acc,Duration_in_Months,Credit_History,Purpose_Credit_Taken,Credit_Amount,Savings_Acc,Years_At_Present_Employment,Inst_Rt_Income,Marital_Status_Gender,...,Other_Inst_Plans,Housing,Num_CC,Job,Dependents,Telephone,Foreign_Worker,Default_On_Payment,Count,Saving_Acc
0,100001,Neg,6,Critical,Radio_TV,1169,A65,More7,4,MaleSingle,...,None,A152,2,LowSkills,1,Yes,Yes,No,1,NoAcc
1,100002,Low,48,Current,Radio_TV,5951,A61,Less4,2,FemaleDivOrM,...,None,A152,1,LowSkills,1,No,Yes,No,1,Low
2,100003,NoAcc,12,Critical,Education,2096,A61,Less7,2,MaleSingle,...,None,A152,1,NoSkills_Res,2,No,Yes,No,1,Low
3,100004,Neg,42,Current,Furniture,7882,A61,Less7,2,MaleSingle,...,None,A153,1,LowSkills,2,No,Yes,No,1,Low
4,100005,Neg,24,Delay,NewCar,4870,A61,Less4,3,MaleSingle,...,None,A153,2,LowSkills,2,No,Yes,Yes,1,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,104996,NoAcc,12,Current,Furniture,1736,A61,Less7,3,FemaleDivOrM,...,None,A152,1,NoSkills_Res,1,No,Yes,No,1,Low
4996,104997,Neg,30,Current,UsedCar,3857,A61,Less4,4,MaleDivorced,...,None,A152,1,HighSkills,1,Yes,Yes,No,1,Low
4997,104998,NoAcc,12,Current,Radio_TV,804,A61,More7,4,MaleSingle,...,None,A152,1,LowSkills,1,No,Yes,No,1,Low
4998,104999,Neg,45,Current,Radio_TV,1845,A61,Less4,4,MaleSingle,...,None,A153,1,LowSkills,1,Yes,Yes,Yes,1,Low
4999,105000,Low,45,Critical,UsedCar,4576,A62,Unemployed,3,MaleSingle,...,None,A152,1,LowSkills,1,No,Yes,No,1,LowAvg

In [25]:
loans['Housing'] = loans['Housing'].replace(['A151', 'A152', 'A153'], ['Rent', 'Own', 'Free'])

In [28]:
loans

,Customer_ID,Status_Checking_Acc,Duration_in_Months,Credit_History,Purpose_Credit_Taken,Credit_Amount,Savings_Acc,Years_At_Present_Employment,Inst_Rt_Income,Marital_Status_Gender,...,Other_Inst_Plans,Housing,Num_CC,Job,Dependents,Telephone,Foreign_Worker,Default_On_Payment,Count,Saving_Acc
0,100001,Neg,6,Critical,Radio_TV,1169,NoAcc,More7,4,MaleSingle,...,None,Own,2,LowSkills,1,Yes,Yes,No,1,NoAcc
1,100002,Low,48,Current,Radio_TV,5951,Low,Less4,2,FemaleDivOrM,...,None,Own,1,LowSkills,1,No,Yes,No,1,Low
2,100003,NoAcc,12,Critical,Education,2096,Low,Less7,2,MaleSingle,...,None,Own,1,NoSkills_Res,2,No,Yes,No,1,Low
3,100004,Neg,42,Current,Furniture,7882,Low,Less7,2,MaleSingle,...,None,Free,1,LowSkills,2,No,Yes,No,1,Low
4,100005,Neg,24,Delay,NewCar,4870,Low,Less4,3,MaleSingle,...,None,Free,2,LowSkills,2,No,Yes,Yes,1,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,104996,NoAcc,12,Current,Furniture,1736,Low,Less7,3,FemaleDivOrM,...,None,Own,1,NoSkills_Res,1,No,Yes,No,1,Low
4996,104997,Neg,30,Current,UsedCar,3857,Low,Less4,4,MaleDivorced,...,None,Own,1,HighSkills,1,Yes,Yes,No,1,Low
4997,104998,NoAcc,12,Current,Radio_TV,804,Low,More7,4,MaleSingle,...,None,Own,1,LowSkills,1,No,Yes,No,1,Low
4998,104999,Neg,45,Current,Radio_TV,1845,Low,Less4,4,MaleSingle,...,None,Free,1,LowSkills,1,Yes,Yes,Yes,1,Low
4999,105000,Low,45,Critical,UsedCar,4576,LowAvg,Unemployed,3,MaleSingle,...,None,Own,1,LowSkills,1,No,Yes,No,1,LowAvg

In [29]:
loans.describe()

,Customer_ID,Duration_in_Months,Credit_Amount,Inst_Rt_Income,Current_Address_Yrs,Age,Num_CC,Dependents,Count
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.0
mean,102500.500000,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,1.0
std,1443.520003,12.053989,2821.607329,1.118267,1.103276,11.370917,0.577423,0.361941,0.0
min,100001.000000,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.0
25%,101250.750000,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.0
50%,102500.500000,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.0
75%,103750.250000,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,1.0
max,105000.000000,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,1.0